@page
@using Otakurin.Domain.Tracking
@model IndexModel

@{ var statuses = Enum.GetValues<MediaTrackingStatus>(); }

<div class="container my-4">
    <h1 class="mb-3">Trackings</h1>
    
    <ul class="nav nav-tabs mb-3">
        @for (int i = 0; i < statuses.Length; i++)
        {
            <li class="nav-item">
                <a class="nav-link @(Model.Status.Equals(statuses[i].ToString()) ? "active" : string.Empty)" asp-page="/Home/Games/Trackings/Index" asp-route-status="@statuses[i].ToString()">
                    @if (statuses[i].Equals(MediaTrackingStatus.InProgress))
                    {
                        <i class="bi bi-play me-1"></i>
                    }
                    @if (statuses[i].Equals(MediaTrackingStatus.Paused))
                    {
                        <i class="bi bi-pause me-1"></i>
                    }
                    @if (statuses[i].Equals(MediaTrackingStatus.Dropped))
                    {
                        <i class="bi bi-arrow-bar-down me-1"></i>
                    }
                    @if (statuses[i].Equals(MediaTrackingStatus.Planning))
                    {
                        <i class="bi bi-clock-history me-1"></i>
                    }
                    @if (statuses[i].Equals(MediaTrackingStatus.Completed))
                    {
                        <i class="bi bi-check2-square me-1"></i>
                    }

                    @statuses[i].ToString()
                </a>
            </li>
        }
    </ul>
    
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Platform</th>
                <th scope="col">Hours</th>
                <th scope="col">Format</th>
                <th scope="col">Status</th>
                <th scope="col">Ownership</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            @foreach (var gt in Model.PagedGameTrackings.Items)
            {
                <tr>
                    <td>
                        <img src="@gt.CoverImageURL" class="rounded" style="height: 75px">
                    </td>
                    <td style="max-width: 20ch">
                        <a asp-page="/Home/Games/Id" asp-route-gameId="@gt.GameId">
                            @gt.Title
                        </a>
                    </td>
                    <td>@gt.Platform</td>
                    <td>@gt.HoursPlayed</td>
                    <td>@gt.Format</td>
                    <td>@gt.Status</td>
                    <td>@gt.Ownership</td>
                    <td>
                        <div class="d-flex flex-row">
                            @{
                                var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
                                var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
                                var returnUrl = $"{routeUrl}{qsPath}";
                            }

                            <a asp-page="/Home/Games/Trackings/Edit" asp-route-gameId="@gt.GameId" asp-route-platform="@gt.Platform" asp-route-returnUrl="@returnUrl">
                                <i class="bi bi-pencil-square me-1" style="font-size: 1rem"></i>
                            </a>

                            <a class="ms-2"  asp-page="/Home/Share/Game" asp-route-gameId="@gt.GameId" asp-route-platform="@gt.Platform">
                                <i class="bi bi-share me-1" style="font-size: 1rem"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="mt-4 d-flex flex-row justify-content-end align-items-center flex-wrap">
        <p class="text-muted me-4">Viewing item @Model.PagedGameTrackings.CurrentStartIndex to @Model.PagedGameTrackings.CurrentEndIndex out of @Model.PagedGameTrackings.TotalCount items</p>

        <ul class="pagination pagination-sm">
            @if ((Model.PagedGameTrackings.Page - 1) > 0)
            {
                <li class="page-item">
                    <a class="page-link" asp-page="/Home/Games/Trackings/Index" asp-route-status="@Model.Status" asp-route-pageNo="@(Model.PagedGameTrackings.Page - 1)">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.PagedGameTrackings.TotalPages; i++)
            {
                @if (Model.PagedGameTrackings.Page == i)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-page="/Home/Games/Trackings/Index" asp-route-status="@Model.Status" asp-route-pageNo="@i">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-page="/Home/Games/Trackings/Index" asp-route-status="@Model.Status" asp-route-pageNo="@i">@i</a>
                    </li>
                }
            }

            @if ((Model.PagedGameTrackings.Page + 1) <= Model.PagedGameTrackings.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-page="/Home/Games/Trackings/Index" asp-route-status="@Model.Status" asp-route-pageNo="@(Model.PagedGameTrackings.Page + 1)">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>