@page
@model IndexModel

<div class="container my-4">
    <h1 class="mb-3">Home</h1>
    
    <h3 class="mb-3">Recent games</h3>
        <div class="row flex-nowrap" style="overflow-x: auto">
            @foreach (var item in Model.RecentPagedGameTrackings.Items)
            {
                <div class="col-8 col-md-6 col-lg-4 col-xl-3">
                    <div class="card mb-3">
                        <img src="@item.CoverImageURL" class="card-image-top img-fluid rounded" style="height: 250px; object-fit: cover">
                        <div class="card-body">
                            <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                @item.Title
                            </h5>
                            <span class="badge bg-dark me-2 mb-2">@item.Platform</span>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex flex-row justify-content-end">
                                <a class="btn btn-primary me-2" asp-page="/Home/Games/Id" asp-route-gameId="@item.GameId">
                                    <i class="bi bi-box-arrow-up-right me-1"></i>
                                    View
                                </a>
                                <a class="btn btn-primary" asp-page="/Home/Games/Trackings/Edit" asp-route-gameId="@item.GameId" asp-route-platform="@item.Platform">
                                    <i class="bi bi-pencil-square me-1"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>